@model mvcdemo.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
   <h2>Person Information</h2>
   <h3>@Model.Name</h3>
   <h3>@Model.Mobile</h3>
    
</body>
</html>
